@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('assets/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-light-webfont.woff2') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}

:root {
    --bg-color: #020312;
    --text-color: #fff;
    --main-color: #eb4a4a;
    --second-color:gray;
    --other-color:#12141c;
    --h1-font: 3.5rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;/*
    background: var(--bg-color);
    color: var(--text-color);*/
}

h1{
    margin-block: 50px;
    font-size: var(--h1-font);
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background: yellow;
}

.task{

    width: auto;
    min-width: 250px;
    height: auto;
    min-height: 250px;
    border-radius: .5rem;
    border: 2px solid var(--main-color);
}
.task.complete.hidden {
    display: none;
}


.list-items {
    margin-top: 5px;
    border: 1px solid black;
}

.list-item {
    text-align: left;
    list-style: none;
    background: linear-gradient(to bottom right, #FD8451, #FFBD6F);
    margin: 3px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content;
    grid-template-rows: max-content;
    gap: 2px;
}

.contain {
    width: 30px;
    height: 25px;
    display: flex;
    color: white;
}

.contain.hidden {
    display: none;
}

span, .span {
    text-align: left;
    display: block;
    pointer-events: none;
}
span.hidden, .span.hidden {
    display: none;
}

.material-icons {
  width: 27px;
}

.material-icons.hidden {
    width: 27px;
    display : none;
}

.svg {
    width: 27px;
    border-radius: 2px;
}

.svg.hidden {
    display: none;
}

input {
    width: max-content;
}

input.hidden {
    display: none;
}

.input.hidden {
    display: none;
}

.button {
    width: 35px;
    color: whitesmoke;
    background-color: #0f0f0f;
}

.button.hidden {
    display: none;
}

.delete {
    color: white;
    background-color: red;
}

.save {
    color: green;
    background-color: white;
}

button.add {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    font-weight: 600;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
}
