@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('assets/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-light-webfont.woff2') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}

:root {
    --bg-color: #020312;
    --text-color: #fff;
    --main-color: #eb4a4a;
    --second-color:gray;
    --other-color:#12141c;
    --h1-font: 3.5rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;/*
    background: var(--bg-color);
    color: var(--text-color);*/
}

h1{
    margin-block: 50px;
    font-size: var(--h1-font);
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background: yellow;
    padding: 25px;
}

.task{
    background: var(--text-color);
    width: auto;
    min-width: 250px;
    height: auto;
    min-height: 250px;
    border-radius: .5rem;
    border: 2px solid var(--main-color);
    padding: 15px;
}

.task.complete.hidden {
    display: none;
}

.list-items {
    margin-top: 10px;
    padding: 5px;
    background: yellow;
    border: 2px solid black;
    border-radius: .3rem;
}

.list-item {
    background: linear-gradient(to bottom right, #FD8451, #FFBD6F);
    margin: 3px;
    border: 1px solid black;
    display: grid;
    grid-template: 
        "text text text" minmax(50px, auto)
        "one two three" auto / 1fr 1fr 1fr;
    gap: 2px;
}

.contain {
    grid-area: text;
}

.contain.hidden {
    display: none;
}

button .one{
    grid-area: one;
}

button .two{
    grid-area: two;
}

button .three{
    grid-area: three;
}

.zero {
    overflow: hidden;
}
.zero.hidden {
    display: none;
}

textarea {
    width: 100%;
    padding: 5px;
    height: max-content;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
}

textarea.hidden {
    display: none;
}

.textarea.hidden {
    display: none;
}

.material-icons {
  width: 27px;
}

.material-icons.hidden {
    width: 27px;
    display : none;
}

.svg {
    width: 27px;
    border-radius: 2px;
}

.svg.hidden {
    display: none;
}

.button {
    width: 35px;
    color: whitesmoke;
    background-color: #0f0f0f;
}

button.hidden {
    display: none;
}

.addTaskBeforeHere{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 5px;
    height: auto;
}

div.addTaskBeforeHere #taskTitle{
    margin-inline-end: 5px;
    padding-block: 5px;
    padding-inline-start: 5px;
    border-radius: .3rem;
    border: 1px solid gray;
}

button.add{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-end: 5px;
}

.addSymbol{
    display: inline-block;
    padding-inline: 5px;
    font-weight: 700;
    font-size: 20px;
}