@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('assets/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-light-webfont.woff2') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: rgb(18, 18, 18);
    --text-color: #ffffffe0;
    --main-color: rgb(37, 37, 37);
    --box-shadow:rgba(0, 0, 0, 0.06) 0px 2px 8px;
    --h1-font: 3.5rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

/* Absolutely positoined
elements need to have their
own transition property */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    color: var(--text-color);
    transition: all 0.5s ease;
}

body.active {
    --bg-color: rgb(231, 231, 231);
    --text-color: #000000e0;
    --main-color: rgb(207, 207, 207);
}

h1{
    margin-block: 50px;
    font-size: var(--h1-font);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    border-radius: .4rem;
    padding: 5px;
}

.task{
    flex: 1;
    background: var(--text-color);
    width: auto;
    min-width: 250px;
    max-width: 350px;
    height: auto;
    border-radius: .5rem;
    background: var(--main-color);
    border: 1px solid var(--box-shadow);
    padding: 15px;
}

.task.complete {
    flex: 1;
}

.task.complete.hidden {
    display: none;
}

.list-items {
    margin-top: 10px;
    padding: 5px;
    background: transparent;
    border: 1.5px solid var(--bg-color);
    border-radius: .4rem;
}

.list-item {
    color: var(--bg-color);
    background: var(--text-color);
    margin-block-end: 5px;
    padding: 5px;
    border: 1px solid var(--bg-color);
    border-radius: .4rem;
    display: grid;
    grid-template:
        "text text text" minmax(50px, auto)
        "one two three" auto / 1fr 1fr 1fr;
    gap: 2px;
}

.contain {
    grid-area: text;
}

.contain.hidden {
    display: none;
}

button .one{
    grid-area: one;
}

button .two{
    grid-area: two;
}

button .three{
    grid-area: three;
}

.zero {
    overflow: hidden;
}
.zero.hidden {
    display: none;
}

textarea {
    width: 100%;
    padding: 5px;
    height: max-content;
    border-radius: .4rem;
    outline: none;
    resize: none;
    overflow: hidden;
}

textarea.hidden {
    display: none;
}

.textarea.hidden {
    display: none;
}

.material-icons {
    pointer-events: none;
    width: 27px;
}

.material-icons.hidden {
    width: 27px;
    display : none;
}

.svg {
    width: 27px;
    border-radius: 2px;
}

.svg.hidden {
    display: none;
}

.button {
    width: 35px;
    color: whitesmoke;
    background-color: #0f0f0f;
}

button.hidden {
    display: none;
}

.addTaskBeforeHere{
    display: flex;
    flex-wrap: wrap;
    padding-block: 5px;
    gap: 5px;
}

div.addTaskBeforeHere #taskTitle{
    flex: 1;
    padding-block: 5px;
    padding-inline-start: 5px;
    border-radius: .3rem;
    border: 1px solid gray;
}

button.add{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-inline-end: 10px;
    min-width: fit-content;
}

.addSymbol{
    display: inline-block;
    padding-inline: 5px;
    font-weight: 700;
    font-size: var(--p-font);
}

/* Theme Switch ________________________________________ */
.theme {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.theme p {
    margin-bottom: 10px;
    font-size: var(--p-font);
}
.themeSwitch {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--main-color);
}
.themeSwitch div:nth-of-type(1) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2px;
    color: var(--bg-color);
}
.themeSwitch div:nth-of-type(2) {
    cursor: pointer;
    position: absolute;
    top: 2.5px;
    left: 2px;
    background-color: var(--bg-color);
    height: 35px;
    width: 35px;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.themeSwitch.active div:nth-of-type(2) {
    left: calc(98% - 35px);
}